# Gradle
.gradle/
build/
out/
**/build/
**/out/
gradle-wrapper.jar
gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
*.class
*.jar
*.war
*.ear
*.db
*.log
*.DS_Store

# Kotlin
*.kotlin_metadata

# Other
*.log
*.hprof
*.stacktrace
